@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; font-size:14px;}
.header{ width:100%; float:left; margin:0; padding: 0;}
.TopHeader{ width:100%; float:left; background-color:#482b0b; padding:10px;}
.TopHeader a{ color:#fff; float:left; padding:0 10px; margin: 6px 0 0;}
.lanInput{ width:35%; float:right;}

.midHeader { width:100%; float:left; padding:10px 0;}
.midHeader .search{ float:right; margin-top:-32px; width:25px; height:30px; color:#ff8800; font-size:16px;}
.midHeader .searchInput{ border:solid 2px #ff8800; height:40px; margin:20px 0 0; }
.midHeader h4{ font-size:16px; color:#2c2c2c;}
.midHeader .logo { width:100%; float:left; text-align:center; padding:0 10px;}
.midHeader .itpoDrop{ margin:25px 0 0;}
.navbar{ width:100%; float:left; margin:0; background:#ff8800; border:solid 1px #ff8800;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{ background:#482b0b; color:#fff;}
.navbar-default .navbar-nav > li > a{ color:#fff; font-size:15px; font-weight:600;}
.navbar-default .navbar-nav > li > a:hover{background:#482b0b; color:#fff;}

.banner-slider{ width:100%; float:left;}
.event-section{ width:100%; float:left; margin:30px 0; padding:50px 0; background-image:url(../images/event.png); background-size:cover; opacity:5px; background-repeat:no-repeat;}

.event-section .box{ width:100%; float:left; text-align:center; padding:20px 0; background:#fff; border-radius:5px; box-shadow:0 5px 20px rgba(0,0,0,0.3); color:#fff;}
.event-section .box h3{ font-weight:bold;}
.event-section .box p{ font-size:18px;}
.event-section .box1{ background:#f39213;}
.event-section .box2{ background:#8b2cf6;}
.event-section .box3{ background:#a0e016;}


@media (max-width: 600px) {
.lanInput{ width:100%;}
}

